.head{
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  font-weight: normal;
}

.img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border:1px solid #ccc;
  margin: 5px 15px 5px 0px;
  vertical-align: middle;
}

.info{
  display: inline-block;
  vertical-align: middle;
}


.user_name{
  display: block;
  line-height: 1.5;
}

.publish_data{
  display: block;
  line-height: 1.5;
  color: #ccc;
  font-size: 12px;
}

.right{
  float: right;
  height: 50px;
  line-height: 50px;
}

.title_info{
  padding:10px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  text-align: center;
}

.visit{
  margin-right: 10px;
}

.visit,.reply{
  font-size: 12px;
  color: #ccc;
}

.markdown-body{
  padding: 10px;
}
