.foot{
  position: absolute;
  width: 100%;
  border-top: 1px solid #ccc;
  bottom: 0;
  display: flex;
  /* 子元素水平排列、不换行 */
  flex-flow: row nowrap;
  /* 内容居中 */
  justify-content: center;
}

a{
  flex-grow: 1;
  text-align: center;
  padding: 10px;

}

.active{
  color: rgb(200,20,20);
}
