.head{
  display: flex;
  /* 子元素水平排列、不换行 */
  flex-flow: row nowrap;
  /* 内容居中 */
  justify-content: center;
  border-bottom: 1px solid #ccc;

}

.item{
  flex-grow: 1;
  padding: 10px;
  border-bottom:3px solid transparent;
  margin-bottom: -2px;
  text-align: center;
}

/* a{
  display: inline-block;

} */


.active{
  border-color: rgb(200,20,20);
}
